/* ============================================= */
/*                Employee Cards                 */
/* ============================================= */

.card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 2px solid grey;
    cursor: pointer;
    img {
        min-width: 128px;
        border-radius: 50%;
        margin: 10px;
    }
    .text-container {
        margin: 10px;
    }
    &:first-child {
        border-top: 2px solid grey;
    }
}

