/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media(min-width: 768px) {
    .card {
        border-radius: 5px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 10px;
    }
    .card{
        border: 2px solid grey;
    }
    .modal {
        width: 275px;
    }
}

@media(min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .main-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            margin-left: 10px;
        }
        .search {
            margin-right: 10px;
        }
    }
}
