/* ============================================= */
/*                   Base                        */
/* ============================================= */

* {
    box-sizing: border-box;
}

html {
    margin-top: 150px;
}

body {
    position: relative;
    }