/* ============================================= */
/*              Typography                       */
/* ============================================= */

body {
    font-size: .8em;
    color: rgb(83, 83, 83);
    font-family: 'Varela Round', sans-serif;
}